<mat-toolbar class="my-toolbar" color="primary" [class.mat-elevation-z10]="true" >
  @if (showoptions()) {
  <button mat-icon-button (click)="redirectPagos()">
    <mat-icon>home</mat-icon>
  </button>
  }
  @if (showoptionsMenu()) {
  <button mat-icon-button (click)="sidenavAction()">
    <mat-icon>menu</mat-icon>
  </button>
  }
  <span
    [ngStyle]="{'font-size': (viewResolution() == 'XSmall' || viewResolution()=='Small') ? '13px' : '20px'}" style="margin: auto; white-space: initial; text-align: center;">{{receiveNameDep()}}
  </span>
  <span></span>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" [style]="existSessioStore()?'display:inline':'display:none'">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit_note</mat-icon>
        <span>Editar Cuenta</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
