@if (isLoading()) {
  <load-spinner />
}
<div class="grid mb-8 p-3 cursor-pointer flex align-items-center justify-content-center">
  @for (item of optionsMenu(); track $index) {
    @if (item.name.includes('Login')) {
      @if(!isAuthenticated()) {
        <div class="col-4 sm:col-4 md:col-3 xl:col-2" >
          <mat-card class="shadow-8 m-3">
            <img mat-card-image [src]="item| servicesMenuImages" [alt]="item.name" (click)="emitValCard(item.route)"><!--| menuImage:viewResolution" [alt]="item.titulo" (click)="emitValCard(item.pk)">-->
          </mat-card>
        </div>
      }
    } @else {
      <div class="col-4 sm:col-4 md:col-3 xl:col-2" >
          <mat-card class="shadow-8 m-3">
            <img mat-card-image [src]="item| servicesMenuImages" [alt]="item.name" (click)="emitValCard(item.route)"><!--| menuImage:viewResolution" [alt]="item.titulo" (click)="emitValCard(item.pk)">-->
          </mat-card>
      </div>
    }
  }
</div>
