<div class="" [formGroup]="formTaxPayRecurrent" #chiltTaxPayContact>

  <div formGroupName="smyt">
    <div class="">
      Refrendo <mat-checkbox formControlName="refrendo" style="padding-left: 5.5em;" (change)="checarRefrendo($event.checked)" />
      <button mat-stroked-button mat-raised color="primary" [disabled]="seriesArr().length==0" (click)="checarRefrendo(true)" type="button">Verificar Series</button>
    </div>
  </div>
  <div formGroupName="impuestos">
    <div>
      Impuestos
      <mat-checkbox formControlName="erogaciones" style="padding-left: 4.8em;">Erogaciones</mat-checkbox>
      <mat-checkbox formControlName="hospedaje">Hospedaje</mat-checkbox>
      <mat-checkbox formControlName="balnearios">Balnearios</mat-checkbox>
      <mat-checkbox formControlName="demasias">Demasias cáducas</mat-checkbox>
    </div>
  </div>
</div>
