<div class="" [formGroup]="formTaxPayRecurrent" #chiltTaxPayContact>

  <div formGroupName="smyt">
    <div>
      Licencia de Conducir <mat-checkbox formControlName="licencia" />
    </div>
    <div class="">
      Refrendo <mat-checkbox formControlName="refrendo" style="padding-left: 5.5em;" (change)="checherRefrendo($event.checked)" />
      <mat-form-field fxFlex class="" style="margin-left: 1em; margin-right:0.5em;" appearance="outline">
        <mat-label>No de Serie</mat-label>
        <input matInput formControlName="numeroserie" type="text" >
        <mat-error>{{ getMessageRecurrent(formTaxPayRecurrent.get('smyt')?.get('numeroserie')?.getError('error'),'numeroserie','smyt') }}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
        <mat-label>Confirmar No de Serie</mat-label>
        <input matInput onpaste="return false" formControlName="confirmserie" type="text">
        <mat-error>{{ getMessageRecurrent(formTaxPayRecurrent.get('smyt')?.get('confirmserie')?.getError('error'),'confirmserie','smyt') }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div formGroupName="impuestos">
    <div>
      Impuestos
      <mat-checkbox formControlName="erogaciones" style="padding-left: 4.8em;">Erogaciones</mat-checkbox>
      <mat-checkbox formControlName="hospedaje">Hospedaje</mat-checkbox>
      <mat-checkbox formControlName="balnearios">Balnearios</mat-checkbox>
      <mat-checkbox formControlName="demasias">Demasias cáducas</mat-checkbox>
      <mat-checkbox formControlName="isan">ISAN</mat-checkbox>
    </div>
  </div>
</div>
{{formTaxPayRecurrent.get('smyt')?.get('numeroserie')?.errors}}
